section {
    text-align: center;
}

form {
    margin: 20%;
    text-align: left;
}
.uwu{
    width: 400px;
    height: 20px;
}
.uwus{
    width: 420px;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    color: white;
    background-color: orange;
}